<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests"> 
  <test name="LoginTest">
    <classes>
      <class name="com.selenium.moduleTestScripts.LoginTestScript"/>
    </classes> 
  </test> <!-- Test -->
  <test name="CartTest">
    <classes>
      <class name="com.selenium.moduleTestScripts.CartTestScript"/>
    </classes>
  </test> <!-- Test -->
  <test name="WomenTabTest">
    <classes>
      <class name="com.selenium.moduleTestScripts.TabWomenScript"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
